<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&family=Montserrat:wght@400;700;900&display=swap"
        rel="stylesheet">
    <title>Concurso Académico 2024</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>
<body>
    <div class="contenedor">
        <section class="puntajes">
            <h3>Puntajes</h3>
            <table class="contenedor">
                <thead>
                    <tr>
                        <th>Posiciones</th>
                        <th>Usuario</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <% var i = 1
                    users.forEach(function(user){ 
                        if(user.descalificado == 0){ %>
                        <tr>
                            <td class="td_username"><%= i %></td>
                            <td ><%= user.username %></td>
                            <td><%= user.score %></td>
                        </tr>
                        <% i++ %>
                    <% }
                else{ %>
                    <tr>
                        <td class="td_username"><p class="error">Descalificado</p><p class="error"><%= i %></p></td>
                        <td class="error"><%= user.username %></td>
                        <td class="error"><%= user.score %></td>
                    </tr>
                <%}}) %>
                </tbody>
            </table>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="/js/tabla.js"></script>
</body>